# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Python virtual environments
venv/
.venv/
ENV/

# VSCode and IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Runtime and build